<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61370533595-3cp6adorbk6bmkj9kbbb7h421h37rg0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61370533595-3cp6adorbk6bmkj9kbbb7h421h37rg0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDLkkl2SRkntcUPdY59WQW-0XFMbvoOi8M</string>
	<key>GCM_SENDER_ID</key>
	<string>61370533595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgteam2.app.OneSignalNotificationServiceExtension</string>
	<key>PROJECT_ID</key>
	<string>quantum-ai-team</string>
	<key>STORAGE_BUCKET</key>
	<string>quantum-ai-team.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61370533595:ios:f8aa585a2b5d7d9a78eefe</string>
</dict>
</plist>